@font-face {
    font-family: "GowunDodum";
    src: url("/fonts/GowunDodum/GowunDodum-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Aggro";
    src: url("/fonts/Aggro/Aggro-B.ttf");
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
}
@font-face {
    font-family: "Aggro";
    src: url("/fonts/Aggro/Aggro-M.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: "Aggro";
    src: url("/fonts/Aggro/Aggro-L.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('/fonts/GmarketSans/GmarketSansTTFMedium.ttf');
    font-weight: lighter;
    font-style: normal;
}