@font-face {
    font-family: "Aggro";
    src: url("/fonts/Aggro/Aggro-M.woff2") format('woff2'),
        url("/fonts/Aggro/Aggro-M.woff") format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

/* @font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.woff2') format('woff2'),
        url('/fonts/SpoqaHanSans/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: fallback;
} */

@font-face {
    font-family: 'GmarketSans';
    src: url('/fonts/GmarketSans/GmarketSansTTFMedium.woff2') format('woff2'),
        url('/fonts/GmarketSans/GmarketSansTTFMedium.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: fallback;
}